.color_blue{
color: blue;

}

.color_darkmagenta{
color: darkmagenta;

}

.center{
border-bottom: 5px double red;
text-align: center;

}

.bggrey{
background-color: "grey";

}

.bggold{
background-color: "gold";

}